<header>
    <div class="head-con">
        <a href="/" class="logo"><img src="../Media/logos/digixcalelogo.png"></a>
        <nav id="nav-menu" class="nav-list">
            <a href="/" class="menu menu-active" style="--i:1;">Home</a>
            <a href="../Html/services.html" class="menu" style="--i:2;">Services</a>
            <a href="../Html/whyus.html" class="menu" style="--i:3;">Why Us</a>
            <a href="../Html/about.html" class="menu" style="--i:4;">About Us</a>
            <a href="../Html/contact.html" class="menu" style="--i:5;">Get In Touch</a>
        </nav>
        <a href="../Html/contact.html" class="head-btn">Start Scaling</a>
        <!-- <div class="bar" id="nav-toggle">
                    <i class="fa-solid fa-bars nav-menu"></i>
                    <i class="fa-solid fa-xmark nav-close"></i>
                </div> -->
    </div>
</header>