<header>
    <div class="head-con">
        <a href="/" class="logo"><img src="../Media/logos/digixcalelogo.png"></a>
        <nav id="nav-menu" class="nav-list">
            <div class="nav-close" id="nav-close">
                <i class="fa-solid fa-xmark"></i>
            </div>

            <a href="/" class="menu menu-active" style="--i:1;">Home</a>
            <a href="/services.html" class="menu" style="--i:2;">Services</a>
            <a href="/whyus.html" class="menu" style="--i:3;">Why Us</a>
            <a href="/about.html" class="menu" style="--i:4;">About Us</a>
            <a href="/contact.html" class="menu" style="--i:5;">Get In Touch</a>
        </nav>
        <a href="/contact.html" class="head-btn">Start Scaling</a>
        <div class="bar nav-toggle" id="nav-toggle">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</header>