        <header>
            <div class="head-con">
                <a href="/" class="logo"><img src="./Media/logos/digixcalelogo.png"></a>
                <nav id="nav-menu" class="nav-list">
                    <a href="#home" class="menu menu-active" style="--i:1;">Home</a>
                    <a href="#services" class="menu" style="--i:2;">Services</a>
                    <a href="#whyus" class="menu" style="--i:3;">Why Us</a>
                    <a href="#about" class="menu" style="--i:4;">About Us</a>
                    <a href="#contact" class="menu" style="--i:5;">Get In Touch</a>
                </nav>
                <button class="head-btn">Start Scaling</button>
                <!-- <div class="bar" id="nav-toggle">
                    <i class="fa-solid fa-bars nav-menu"></i>
                    <i class="fa-solid fa-xmark nav-close"></i>
                </div> -->
            </div>
        </header>